 
doctype html
html
    head
        title="login/google"
        link(href='/styles.css', rel='stylesheet')
    body
        div.container
            div.overlay
                h1 Welcome to CityBike!
                h2 Enter the city:
                div 
                    input(type="text", placeholder="which city do you wish to explore")   
                    button.inline(type="submit") Go                   